node_modules
#/public/hot
#/public/storage
#/storage/*.key
#/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#/database/database.sqlite
#
#
#
#
#client
# compiled output
/client/dist/
/client/tmp/

# dependencies
/client/bower_components/
/client/node_modules/

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage/
/client/libpeerconnection.log
/client/npm-debug.log*
/client/testem.log
/client/yarn-error.log

# ember-try
/client/.node_modules.ember-try/
/client/bower.json.ember-try
/client/package.json.ember-try



#server

/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/.idea
/server/.vscode
/server/.vagrant
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log
/server/.env
/server/.phpunit.result.cache

/server/public/app
/server/storage/*.log

